In [2]:
# import Library yang dibutuhkan
import pandas as pd                   #dataframe manipulation
import numpy as np                    #scientific camputing
import seaborn as sns                 #visualization
import matplotlib.pyplot as plt       #visualization
%matplotlib inline
sns.set(color_codes=True)

import warnings
warnings.filterwarnings('ignore')

In [4]:
# import csv
uk = pd.read_csv("C:/Users/HP/Desktop/Data Amazon/AmazonUK.csv") 
nd = pd.read_csv("C:/Users/HP/Desktop/Data Amazon/AmazonNd.csv") 
ca = pd.read_csv("C:/Users/HP/Desktop/Data Amazon/AmazonCa.csv")

In [6]:
# tambah keterangan negara setiap tabel sebelum di merge
uk['country'] = 'UK'
ca['country'] = 'Canada'
nd['country'] = 'India'

In [10]:
# Gabungkan semua data menjadi satu
amz = pd.concat([uk, ca, nd], ignore_index=True)

amz.head()

,ID,name,rating,reviewCount,price,isBestSeller,quantity,categoryName,city,country
0,B083K77PZL,"W-KING Bluetooth Speaker, 50W Speakers Wireles...",4.6,2979,65.59,False,200,Hi-Fi Speakers,Manchester,UK
1,B09J47Y789,XSOUND Portable Bluetooth Speaker Wireless 24W...,4.4,804,22.99,False,200,Hi-Fi Speakers,Manchester,UK
2,B08FCDFHLB,"soundcore Anker Mini 3 Bluetooth Speaker, Bass...",4.7,3208,34.99,False,200,Hi-Fi Speakers,Manchester,UK
3,B096TJ6FXD,"HEYSONG Shower Speaker, Waterpoof Portable Blu...",4.3,1279,21.99,False,100,Hi-Fi Speakers,Edinburgh,UK
4,B08ZJ6DQNY,Sony SRS-XB13 Wireless Extra Bass Portable Com...,4.3,15963,39.90,False,100,Hi-Fi Speakers,Leeds,UK

In [12]:
amz.shape

(307927, 10)

In [14]:
amz.to_csv("C:/Users/HP/Desktop/Data Amazon/Amazon_sales.csv", index=False)